## Homework 1
*For any questions or concerns please email your instructor at `smanna@scu.edu`*
### Due - 01/24/2020 - 11:59p - 20 points

**Name:** `<Jeffrey Lin>`

**Email** `<jlin7@scu.edu>`

**Objectives:** The main aim of this homework is to make you conversant with *exploratory data analysis (EDA)*.

**Problem Statement** - You are given a wine dataset, which has different composition of chemicals that constitute white wine. Your task is to understand the dataset and answer the questions with respect to the dataset.

*NOTE* - Please feel free to use the *w2-AnalyzingData.ipynb* as a reference to work on this homework. You will find this in Camino under `Files` $\rightarrow$ `notebook`$\rightarrow$ `w2-AnalyzingData.ipynb`.

**Submission Instructions:** 
* Please download `HW1.ipynb` and `winequality.csv` files and insert cells in the `HW1.ipynb` to complete your homework and submit the same file to Camino under `Homework` $\rightarrow$ `HW1`.

**Honor Code:** You are expected to complete the homework on your own. Solutions might exist elsewhere, but you are not allowed to copy them.

In [13]:
# import different libraries
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
import numpy as np
import seaborn as sns # you would need if you work on the optional part of this homework

%matplotlib inline

**Question 1 (2 pts)**

In [14]:
# read the input file into a dataframe, and name it 'white_wine'
# TODO
white_wine = pd.read_csv("winequality.csv")
# print the dataframe
# TODO
white_wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

**Question 2 (5 pts)**

In [26]:
# print how many data points are there in the dataset along with their features
# TODO
white_wine.shape[0]

4898

In [27]:
# print detailed information about the features of your dataset
# TODO
white_wine.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000
mean,6.854788,0.278241,0.334192,6.391415,0.045772,35.308085,138.360657,0.994027,3.188267,0.489847,10.514267,5.877909
std,0.843868,0.100795,0.121020,5.072058,0.021848,17.007137,42.498065,0.002991,0.151001,0.114126,1.230621,0.885639
min,3.800000,0.080000,0.000000,0.600000,0.009000,2.000000,9.000000,0.987110,2.720000,0.220000,8.000000,3.000000
25%,6.300000,0.210000,0.270000,1.700000,0.036000,23.000000,108.000000,0.991723,3.090000,0.410000,9.500000,5.000000
50%,6.800000,0.260000,0.320000,5.200000,0.043000,34.000000,134.000000,0.993740,3.180000,0.470000,10.400000,6.000000
75%,7.300000,0.320000,0.390000,9.900000,0.050000,46.000000,167.000000,0.996100,3.280000,0.550000,11.400000,6.000000
max,14.200000,1.100000,1.660000,65.800000,0.346000,289.000000,440.000000,1.038980,3.820000,1.080000,14.200000,9.000000

In [28]:
# print first 20 rows 
# TODO
white_wine.head(20)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.70,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.60,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.90,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.50,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.50,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
5,8.1,0.28,0.40,6.90,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
6,6.2,0.32,0.16,7.00,0.045,30.0,136.0,0.9949,3.18,0.47,9.6,6
7,7.0,0.27,0.36,20.70,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
8,6.3,0.30,0.34,1.60,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
9,8.1,0.22,0.43,1.50,0.044,28.0,129.0,0.9938,3.22,0.45,11.0,6
10,8.1,0.27,0.41,1.45,0.033,11.0,63.0,0.9908,2.99,0.56,12.0,5
11,8.6,0.23,0.40,4.20,0.035,17.0,109.0,0.9947,3.14,0.53,9.7,5
12,7.9,0.18,0.37,1.20,0.040,16.0,75.0,0.9920,3.18,0.63,10.8,5
13,6.6,0.16,0.40,1.50,0.044,48.0,143.0,0.9912,3.54,0.52,12.4,7
14,8.3,0.42,0.62,19.25,0.040,41.0,172.0,1.0002,2.98,0.67,9.7,5
15,6.6,0.17,0.38,1.50,0.032,28.0,112.0,0.9914,3.25,0.55,11.4,7
16,6.3,0.48,0.04,1.10,0.046,30.0,99.0,0.9928,3.24,0.36,9.6,6
17,6.2,0.66,0.48,1.20,0.029,29.0,75.0,0.9892,3.33,0.39,12.8,8
18,7.4,0.34,0.42,1.10,0.033,17.0,171.0,0.9917,3.12,0.53,11.3,6
19,6.5,0.31,0.14,7.50,0.044,34.0,133.0,0.9955,3.22,0.50,9.5,5

In [29]:
# print middle 20 rows
# TODO
white_wine.iloc[4888:4908]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
4888,6.8,0.220,0.36,1.20,0.052,38.0,127.0,0.99330,3.04,0.54,9.2,5
4889,4.9,0.235,0.27,11.75,0.030,34.0,118.0,0.99540,3.07,0.50,9.4,6
4890,6.1,0.340,0.29,2.20,0.036,25.0,100.0,0.98938,3.06,0.44,11.8,6
4891,5.7,0.210,0.32,0.90,0.038,38.0,121.0,0.99074,3.24,0.46,10.6,6
4892,6.5,0.230,0.38,1.30,0.032,29.0,112.0,0.99298,3.29,0.54,9.7,5
4893,6.2,0.210,0.29,1.60,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6
4894,6.6,0.320,0.36,8.00,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5
4895,6.5,0.240,0.19,1.20,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6
4896,5.5,0.290,0.30,1.10,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7
4897,6.0,0.210,0.38,0.80,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6

In [30]:
# print last 20 rows
# TODO
white_wine.tail(20)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
4878,6.2,0.530,0.02,0.90,0.035,6.0,81.0,0.99234,3.24,0.35,9.500000,4
4879,6.6,0.340,0.40,8.10,0.046,68.0,170.0,0.99494,3.15,0.50,9.533333,6
4880,6.6,0.340,0.40,8.10,0.046,68.0,170.0,0.99494,3.15,0.50,9.533333,6
4881,5.0,0.235,0.27,11.75,0.030,34.0,118.0,0.99540,3.07,0.50,9.400000,6
4882,5.5,0.320,0.13,1.30,0.037,45.0,156.0,0.99184,3.26,0.38,10.700000,5
4883,4.9,0.470,0.17,1.90,0.035,60.0,148.0,0.98964,3.27,0.35,11.500000,6
4884,6.5,0.330,0.38,8.30,0.048,68.0,174.0,0.99492,3.14,0.50,9.600000,5
4885,6.6,0.340,0.40,8.10,0.046,68.0,170.0,0.99494,3.15,0.50,9.550000,6
4886,6.2,0.210,0.28,5.70,0.028,45.0,121.0,0.99168,3.21,1.08,12.150000,7
4887,6.2,0.410,0.22,1.90,0.023,5.0,56.0,0.98928,3.04,0.79,13.000000,7
4888,6.8,0.220,0.36,1.20,0.052,38.0,127.0,0.99330,3.04,0.54,9.200000,5
4889,4.9,0.235,0.27,11.75,0.030,34.0,118.0,0.99540,3.07,0.50,9.400000,6
4890,6.1,0.340,0.29,2.20,0.036,25.0,100.0,0.98938,3.06,0.44,11.800000,6
4891,5.7,0.210,0.32,0.90,0.038,38.0,121.0,0.99074,3.24,0.46,10.600000,6
4892,6.5,0.230,0.38,1.30,0.032,29.0,112.0,0.99298,3.29,0.54,9.700000,5
4893,6.2,0.210,0.29,1.60,0.039,24.0,92.0,0.99114,3.27,0.50,11.200000,6
4894,6.6,0.320,0.36,8.00,0.047,57.0,168.0,0.99490,3.15,0.46,9.600000,5
4895,6.5,0.240,0.19,1.20,0.041,30.0,111.0,0.99254,2.99,0.46,9.400000,6
4896,5.5,0.290,0.30,1.10,0.022,20.0,110.0,0.98869,3.34,0.38,12.800000,7
4897,6.0,0.210,0.38,0.80,0.020,22.0,98.0,0.98941,3.26,0.32,11.800000,6

**Question 3 (3 pts)**

In [39]:
# find out how many data points are there 
# whose alcohol level is greater than 10 and sulphate quantity is greater than 0.50

# TODO
ha = white_wine[(white_wine['alcohol']>10)&(white_wine['sulphates']>0.50)]
ha.shape[0]

1117

**Question 4 (2 pts)**

In [45]:
# find out if there is any null value in the dataframe
# TODO
white_wine.isnull().values.any()

False

**Question 5 (2 pts)**

In [61]:
# print number of occurrences of sulphates' value in the white_wine
# TODO
#white_wine.groupby(['sulphates']).size()
white_wine['sulphates'].value_counts()

0.50    249
0.46    225
0.44    216
0.38    214
0.42    181
0.48    179
0.45    178
0.47    172
0.40    168
0.54    167
0.49    166
0.43    161
0.52    156
0.39    151
0.51    140
0.41    139
0.53    135
0.37    129
0.36    120
0.56    108
0.55    102
0.58     99
0.59     97
0.60     88
0.35     85
0.34     84
0.57     83
0.62     68
0.64     67
0.33     59
       ...
0.29     16
0.28     13
0.82     13
0.27     13
0.73     12
0.88      7
0.98      6
0.80      5
0.90      5
0.95      5
0.81      5
0.25      4
0.84      4
0.26      4
0.85      3
0.96      3
0.83      2
0.86      2
0.94      2
0.87      2
0.92      2
1.08      1
1.00      1
0.97      1
1.01      1
0.89      1
1.06      1
0.22      1
0.23      1
0.99      1
Name: sulphates, Length: 79, dtype: int64

**Question 6 (3 pts)**

In [55]:
# create a subset of attributes - 'residual sugar', 'total sulfur dioxide', 'sulphates', 'alcohol', 'volatile acidity', 'quality'
# TODO
white_wine[['residual sugar', 'total sulfur dioxide', 'sulphates', 'alcohol', 'volatile acidity', 'quality']].head()

,residual sugar,total sulfur dioxide,sulphates,alcohol,volatile acidity,quality
0,20.7,170.0,0.45,8.8,0.27,6
1,1.6,132.0,0.49,9.5,0.30,6
2,6.9,97.0,0.44,10.1,0.28,6
3,8.5,186.0,0.40,9.9,0.23,6
4,8.5,186.0,0.40,9.9,0.23,6

**Question 7 (3 pts)**

In [58]:
# create a new dataframe with the subset of attributes and compute the basic statistics
# TODO
sub_white_wine = white_wine[['residual sugar', 'total sulfur dioxide', 'sulphates', 'alcohol', 'volatile acidity', 'quality']]
sub_white_wine.describe()
# print the newly formed dataframe
# TODO
sub_white_wine.head(sub_white_wine.shape[0])

,residual sugar,total sulfur dioxide,sulphates,alcohol,volatile acidity,quality
0,20.70,170.0,0.45,8.800000,0.270,6
1,1.60,132.0,0.49,9.500000,0.300,6
2,6.90,97.0,0.44,10.100000,0.280,6
3,8.50,186.0,0.40,9.900000,0.230,6
4,8.50,186.0,0.40,9.900000,0.230,6
5,6.90,97.0,0.44,10.100000,0.280,6
6,7.00,136.0,0.47,9.600000,0.320,6
7,20.70,170.0,0.45,8.800000,0.270,6
8,1.60,132.0,0.49,9.500000,0.300,6
9,1.50,129.0,0.45,11.000000,0.220,6
10,1.45,63.0,0.56,12.000000,0.270,5
11,4.20,109.0,0.53,9.700000,0.230,5
12,1.20,75.0,0.63,10.800000,0.180,5
13,1.50,143.0,0.52,12.400000,0.160,7
14,19.25,172.0,0.67,9.700000,0.420,5
15,1.50,112.0,0.55,11.400000,0.170,7
16,1.10,99.0,0.36,9.600000,0.480,6
17,1.20,75.0,0.39,12.800000,0.660,8
18,1.10,171.0,0.53,11.300000,0.340,6
19,7.50,133.0,0.50,9.500000,0.310,5
20,1.20,75.0,0.39,12.800000,0.660,8
21,2.90,102.0,0.35,11.000000,0.310,7
22,1.70,122.0,0.48,10.500000,0.260,8
23,1.50,168.0,0.51,9.300000,0.670,5
24,1.30,142.0,0.47,10.000000,0.270,6
25,9.00,245.0,0.50,10.400000,0.250,6
26,1.00,146.0,0.44,10.000000,0.240,6
27,8.70,141.0,0.53,10.500000,0.280,6
28,1.10,132.0,0.49,11.600000,0.270,6
29,2.00,114.0,0.71,12.300000,0.320,7
...,...,...,...,...,...,...
4868,4.50,124.0,0.64,10.800000,0.230,6
4869,10.10,81.0,0.51,9.800000,0.240,6
4870,6.60,132.0,0.36,11.450000,0.320,7
4871,1.90,98.0,0.55,12.050000,0.200,6
4872,12.40,179.0,0.60,9.700000,0.420,5
4873,1.60,122.0,0.52,11.900000,0.210,6
4874,2.50,125.0,0.49,10.000000,0.200,6
4875,1.20,97.0,0.41,9.700000,0.220,6
4876,2.50,117.0,0.59,11.600000,0.380,7
4877,0.80,82.0,0.36,8.800000,0.540,5
4878,0.90,81.0,0.35,9.500000,0.530,4
4879,8.10,170.0,0.50,9.533333,0.340,6
4880,8.10,170.0,0.50,9.533333,0.340,6
4881,11.75,118.0,0.50,9.400000,0.235,6
4882,1.30,156.0,0.38,10.700000,0.320,5
4883,1.90,148.0,0.35,11.500000,0.470,6
4884,8.30,174.0,0.50,9.600000,0.330,5
4885,8.10,170.0,0.50,9.550000,0.340,6
4886,5.70,121.0,1.08,12.150000,0.210,7
4887,1.90,56.0,0.79,13.000000,0.410,7
4888,1.20,127.0,0.54,9.200000,0.220,5
4889,11.75,118.0,0.50,9.400000,0.235,6
4890,2.20,100.0,0.44,11.800000,0.340,6
4891,0.90,121.0,0.46,10.600000,0.210,6
4892,1.30,112.0,0.54,9.700000,0.230,5
4893,1.60,92.0,0.50,11.200000,0.210,6
4894,8.00,168.0,0.46,9.600000,0.320,5
4895,1.20,111.0,0.46,9.400000,0.240,6
4896,1.10,110.0,0.38,12.800000,0.290,7
4897,0.80,98.0,0.32,11.800000,0.210,6

### Optional (extra credit)
**Part 1 (2 points)** For this part of this homework, you can use pandas hist function. More details can be found [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.hist.html).

In [1]:
# Plot histograms for all the features in the white_wine 
# Feel free to choose your color
# Make sure your labels are properly printed
# You are required to look at 'hist' function of dataframe and use help
# you can alternatively use matplotlib's functions

# TODO

**Part 2 (2 points)**
For this part of this homework, you have to use seaborn library. Please refer to [this](https://seaborn.pydata.org/generated/seaborn.heatmap.html) documentation as your reference.

In [ ]:
# Compute correlation function on your dataframe
# use the correlation to draw a heatmap using seaborn library
# you are required to do little research to find out how would you complete this task
# make sure the correlation values are provided in the heatmap
# you can choose whatever color theme you would like
# also make sure you have a legend!

# TODO